/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    border: 1px solid red;
}
*/

body {
    font-family: Roboto, Oxygen, 'Helvetica Neue', sans-serif;
    margin: 0;
}

/*HEADER*/
.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 200px;
}

#logo {
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 50px;
    border: 0px;
    filter: invert(0%)
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px
}

.navigation {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 32px;
}

a {
    text-decoration: none;
}


.hero-bottom {
    display: flex;
    gap: 32px;
    margin: 32px 200px 64px;
}

.hero-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    width: 450px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold; 
    color: #F9FAF8;
    margin: 0px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 1em 0px;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    border: 0px;
}


.hero-bottom-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 0;
}

#berlin {
    width: 500px;
    filter: invert(100%);
}

/*MAIN*/
.info {
    padding: 0px 200px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 16px;
}

.info-box li {
    display: flex;
    flex-direction: column;
    flex: 0;
}

.box {
    padding: 80px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}

.info-text {
    font-size: 18px;
    color: grey;
    margin: 8px 0px;
    display: flex;
    text-align: center;
}


/*QUOTE*/
.quote-container {
    background-color: #E5E7EB;
    padding: 100px 350px 82px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0px;
}

.source {
    color: #1F2937;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

/*ACTION*/
.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    margin: 80px 200px 80px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
}


.action-header,
.action-text {
    margin: 0px;
    padding: 0px;
}

.action-header {
    font-size: 24px;
}

.action-text {
    font-size: 18px;
}

#action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #F9FAF8;
}

.action-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/*FOOTER*/
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 18px;
}